*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.container{
    width: 90%;
    box-sizing: border-box;
    height: 200vw;

}

.navbar{
    width: 100%;
    height: 65px;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5955e7;
    cursor: pointer;
}
.navbar > img{
    width: 8%;
}
.navbar > button{
    border: none;
    width: 130px;
    height: 27px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}
.navbar > button:hover{
    background-color: green;
    color: aliceblue;
 
}

.navbar > p{
   color: aliceblue;
}
.navbar > p:hover{
    border-bottom: 2px solid green;
}
 
.main{
    display: flex;
    justify-content: space-around;
    background-color: #efefef;
}
.btn{
    display: flex;
    margin-top: 30px;
    
}

.text-btn{
    width: 60%;
    margin-top: 180px;
    margin-left: 70px;
}

.button-1{
   width: 105px; 
   height: 27px;
   color: #fff;
   background-color: #6347ea;
   border: none;
   cursor: pointer;
   border-radius: 4px;
}

.button-2{
    width: 105px; 
    height: 27px;
    color: #000;
    border: 2px solid #6347ea;
    background-color: #fff;
    margin-left: 15px;
    cursor: pointer;
    border-radius: 4px;
}
.button-1:hover{
    background-color: green;
    color: aliceblue;
   
}

.button-2:hover{
    background-color: green;
    color: aliceblue;
    border: 2px solid green;
}

.boy > img{
    width: 90%;
}

.text-btn >p{
    margin-top: 10px;
    margin-left: 25px;
}

.text-o{
    width: 32%;
    margin-left: 50px;
    margin-top: 70px;
}

.o-nas{
    display: flex;
    
}

.o-nas > img{
    width: 30%;
    margin-left: 60px;
    margin-top: 70px;
}

.nashi{
    width: 100%;
    height: 830px;
    background-color: #6347ea;
    margin-top: 80px;
}
.img-box1{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-left: 60px;
}
.img-box2{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 170px;
    margin-left: 60px;
}

.img-text{
    width: 23%;
    height: 345px;
    margin: 0px 40px;
}
.nashi >h2{
    margin-left: 30rem;
    margin-top: 25px;
    color: #fff;
}
.img-text > p{
    color: #fff;
    margin-top: 20px;
    text-align: center;
}
.img-text > b{
    color: #fff;
    display: flex;
    justify-content: center;
}
.img-text > img{
    width: 70%;
    border: 4px solid gray;
    border-radius: 50%;
    margin-left: 35px;
}
.img-text > img:hover{
    border-color: red;
}


.klassi{
    width: 100%;
    height: 81vw;
    /* background-color: blueviolet; */
    margin-top: 40px;
}

.klas-box1{
    width: 90%;
    height: 345px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    margin-left: 60px;
}
.klas-box2{
    width: 90%;
    height: 345px;
    /* background-color: aqua; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-left: 60px;
    margin-top: 120px;
}
.klas-img{
    width: 23%;
    height: 435px;
    margin: 0px 50px;
    border-radius: 9px;
    background-color: #6347ea;
}
.klas-img > img{
    width: 87%;
    margin-left: 17px;
    margin-top: 15px;
}
.klas-img > p{
    text-align: center;
    color: #fff;
}
.klas-img > h2{
    text-align: center;
    color: #fff;
}
.klas-img > button{
    margin-top: 10px;
    margin-left: 74px;
    width: 110px;
    height: 25px;
    border: none;
    color: blueviolet;
    border-radius: 5px;
}

.klas-img > button:hover{
    color: #fff;
    background-color: red;
}

.klassi> h1{
    margin-left: 33rem;
    font-size: 40px;
    color: rgb(241, 235, 235);
}
.klassi> h3{
    margin-left: 565px;
    margin-top: -15px;
}
.kll> h1{
    margin-left: 34rem;
    font-size: 40px;
    color: rgb(241, 235, 235);
}
.kll> h3{
    margin-left: 565px;
    margin-top: -15px;

}
.home{
    width: 100%;
    height: 490px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.home-box{
    width: 75%;
    height: 420px;
    display: flex;
    background-color: #6347ea;
    margin-top: 35px;
}
.img-box > img{
    width: 50%;
}
.img-box > p{
    margin-top: 10px;
}
.in-put > input{
    width: 246px;
    height: 27px;
    border: none;
    outline: none;
    text-indent: 15px;
    border-radius: 4px;
    margin-top: 15px;
}
.in-put > button{
    width: 100px;
    height: 26px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    margin-left: 155px;
}
.in-put > h3{
    color: #fff;
    
}
.img-box{
    margin-left: 30px;
}
.in-put > p{
    color: #fff;
    margin-top: 15px;
    font-size: 12px;
}
.inpoo > textarea{
    text-indent: 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 10px;
   
}
.img-box > h3{
    color: #fff;
}
.img-box > p{
    color: #fff;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 15px;
    align-items: center;
    margin-top: 30px;
    background-color: #6347ea;
}
.kantak >p{
    color: #fff;
}
.icons >p{
    color: #fff;
}